* {
 margin: 0%;
 padding: 0%;
  font-family: 'Times New Roman', Times, serif;
}
/* ARCHIVO PRINCIPAL */

/* HEADER  */

.menu-container {
    font-size: 140%;
    text-decoration: none;
    color: antiquewhite;
   background-color: rgba(6, 6, 96, 0.901);
   display: flex;
   justify-content: space-between;
   align-items: center;
  
  

 }



.menu {

  border: solid 3px;
  width: 228%;
  display: flex;
  justify-content: space-around;
  background-color: aliceblue;

}
.seccion-prod {
    display: flex;
   
}



.seccion-darkblue {
      
       background-color: rgb(5, 5, 36);
       color: antiquewhite;
       padding: 10%;
       border: solid 2px;
      
       
    
}

.sabias-q {
    background-color: gray;
    margin-bottom: 10%;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-around;
    border: solid 2px white;


}

.parrafo-sabias {
    background-color: gray;
    margin-bottom: 10%;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 5%;
    padding-bottom: 5%;
    border: solid 2px white;
    
   
}

.imagenes-descuentos {

   display: flex;
   justify-content: space-around;
    
   
}

.descuentos {
    width: 10%;
    background-color: white;
   
}




 #contenedor-footer-blue {
    background-color: rgba(6, 6, 96, 0.901) ;
    display: flex;
    justify-content: space-around;
}  

.botones-redes   {
       border-radius: 25px;
       margin: 50px auto;
       height: 2px;
     
}



 /*ARCHIVO PROD*/
       
.foto-prod  {

   
    display: flex;
   
    
}      

/*ARCHIVO NOSOTROS */

.seccion-gris {
   background-color: gray;

}




/* ARCHIVO CONTACTO */
    











