@import 'listas';
@import 'header';
@import 'main';
@import 'footer';




 * {
    margin: 0%;
    padding: 0%;
     font-family: 'Times New Roman', Times, serif;
   }
   /* ARCHIVO PRINCIPAL */
   
   /* HEADER  */
   
  
   
   
   .seccion-darkblue {
         
          background-color: rgb(5, 5, 36);
          color: antiquewhite;
          padding: 9%;
          border: solid 15px black;
          margin: 13%;
          
         
          
       
   }
   
  
   
   
   
  
   

   

   
   
    
          
   /*ARCHIVO NOSOTROS */

